html *
{
   font-family: "Lucida Handwriting", cursive !important;
}

.text-center{
    background-color: cornflowerblue;
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
}

li{
    margin-right: 10px;
}

button{
    border-radius: 12px;
    background-color: cornflowerblue;
    height: 32px;
}